{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
  <title>Dashboard</title>

  <!-- CSS  -->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="{% static "/css/browser.css" %}">
</head>

<body>
   {% block navbar %}
    {% include 'accounts/navbar.html' %}
   {% endblock %}
      <div class="container">
        <div class="section">

            {% block content %}

            {% endblock %}

        </div>
      </div>


  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- Compiled and minified JavaScript -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>


  <script>$(document).ready(function(){
  // Initialize materialize data picke
      $('input[type="date"]').datepicker().attr('type','text');
  $('.datepicker').datepicker({'format': 'yyyy-mm-dd'});
  $('select').formSelect();


    });
  </script>

    <script>
    $( document ).ready(function() {
      $('.modal').modal();
    });
    </script>
  </body>
</html>
