<!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
            <div class="card green darken-1">
              <div class="card-content white-text">
                <span class="card-title center">Total Orders</span>
                <h2 class="center">{{ total_orders }}</h2>
              </div>
            </div>
        </div>

        <div class="col s12 m4">
          <div class="card red lighten-1">
            <div class="card-content white-text">
              <span class="card-title center">Pending</span>
              <h2 class="center">{{ pending }}</h2>
            </div>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="card blue lighten-1">
            <div class="card-content white-text">
              <span class="card-title center">Delivered</span>
              <h2 class="center">{{ delivered }}</h2>
            </div>
          </div>
        </div>
      </div>